* {
	margin: 0;
	padding: 3%, 4%;
	font-size: 100%;
	border: none;
	outline: none;
	box-shadow: none;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	line-height: 150%;
}
body{
	/*background: url(../images/bg.png);*/
	background-color: #F5F5F5;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
img{
	max-width: 100%;
}
/*CABECALHO*/
.cabecalho{
	width: 100%;
	float: left;
	padding: 3%, 4%;
	height: 200px;
	background: url(../images/inicial.jpg)center center/400px  no-repeat;

}
.logo{
	width: 100px;
	height: 100px;
	float: left;
	background: url(../images/logo.png) center center/90px no-repeat;
	font-size: 0;
	margin-left: 1%;
	margin-top: -10px;
}
.btn-menu{
	width: 50px;
	height: 50px;
	float: right;
	text-align: center;
	color: #fff;
	border-radius: 18px;
	cursor: pointer;
	background: #DCEDC8; /*#F8BBD0*/
	margin-right: 5%;
	margin-top: 5%;
}
/*FIM DO CABEÇALHO*/

/*MENU*/
.menu{
	display: none;
	width: 100%;
	height: 90%;
	position: fixed;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	border-radius: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.btn-close{
	font-size: 3em;
	color: #fff;
	cursor: pointer;	
}
.menu ul{
	width: 100%;
	float: left;
	text-align: center;
}
.menu li{
	padding: 1.5%;
}
.menu li a{
	font-size: 2em;
	color: #fff;
	padding: 1.5% 3%;
	margin-right: 15%;
}
.menu li a:hover{
	border: 1px solid #DCEDC8;
}
.menu li a:focus{
	color: #80A610;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 40px;
	height: 22px;
	border: none;
	text-indent: 100%;
	background: url(../images/move-top.png) no-repeat 0px 0px;
}
/*FIM DO MENU*/

/*CONTEÚDO*/
.artigo{
	width: 90%;
	float: left;
	padding: 3% 4%;
	line-height: 200% !important;
}
.conteudoArtigo2{
	margin-top: 10%;
	line-height: 200% !important;
}
.conteudoArtigo p{
	line-height: 200% !important;
}
.conteudoArtigo2 p{
	line-height: 200% !important;
}
.artigo img{
	height: 60%;
	width: 60%;
	margin-left: 20%;
}
.container{
	height: 200px;
	width: 80%;
	margin-left: 9%;
	margin-right: 9%;
	background-color: #F5F5F5;
	border-radius: 2px 2px 2px 2px;
}
.fundoP{
	height: 250px;
	width: 100%;
	background-color: #DCEDC8;
}
.patrocinadores img{
	margin-top: 10%;
	float: left;
	margin-left: 5%;
}
.imgPetz{
	width: 150px;
	height: 80px;
	float: left;
	background: url(../images/petz.png) center center/150px no-repeat;
	font-size: 0;
	margin-left: 2%;
	margin-top: 10px;
}

.imgRepublica{
	width: 180px;
	height: 50px;
	float: left;
	background: url(../images/republica.png) center center/180px no-repeat;
	font-size: 0;
	margin-left: 1%;
	margin-top: 10px;	
}
.titulo{
	width: 70%;
	height: 60px;
	margin-left: 15%;
	margin-top: 10%;
}
.sobre p{
	margin-top: 10%;
	font-size: 11pt;
	text-align: center;
	color: #666666;
	margin-left: 10%;
	margin-right: 7%;
}
.sobreAjuda p{
	margin-top: 10%;
	font-size: 11pt;
	text-align: center;
	color: #666666;
	margin-left: 10%;
	margin-right: 7%;
}
.banners img{
	height: 70%;
	width: 70%;
	margin-left: 15%;
	border-radius: 15px 15px 15px 15px;
	margin-top: 5%;
}
.logo-face{
	width: 40px;
	height: 40px;
	background: url(../images/face.png) center center/40px no-repeat;
	font-size: 0;
	margin-left: 45%;
	margin-top: 5%;
}
.adotar img{
	width: 250px;
	height: 250px;
	margin-top: 10%;
	border-radius: 18px 18px 0 0;
	margin-left: 18%;
	background: url(../images/bg.png);
}
.adotar p{
	width: 250px;
	font-size: 14pt;
	background-color: #FCE4EC;
	border-radius: 0 0 18px 18px;
	margin-top: -4px;
	margin-left: 18%;
	color: #880E4F;
	background: url(../images/bg.png);
}
.equipeContaier{
	margin-top: 5%;
	height: 40%;
	width: 100%;
}
.equipe{
	width: 80%;
	height: 8%;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 0px 25px 0px 25px;
	background-color: #FFECB3;
}
.equipe2{
	width: 80%;
	height: 8%;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 25px 0px 25px 0px;
	background-color: #FFCDD2;
}
.equipe3{
	width: 80%;
	height: 8%;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 0px 25px 0px 25px;
	background-color: #C5CAE9;
}
.equipeImg{
	width: 100px;
	height: 100px;
	margin-top: 10%;
	border-radius: 0px 10px 0px 10px;
	margin-left: 10%;

}
.textoEquipe p{
	margin-top: -17%;
	text-align: center;
	float: right;
	font-size: 10pt;
	color: #212121;
	margin-right: 5%;
}
.textoEquipe h3{
	margin-top: -25%;
	text-align: center;
	float: right;
	color: #212121;
	font-size: 12pt;
	margin-right: 5%;
}
.iconeEquipe{
	width: 20px;
	height: 20px;
	background: url(../images/face.png) center center/20px no-repeat;
	margin-top: -10% !important;
	border-radius: 2px 2px 2px 2px;
}

/*--footer--*/
.footer{
	background-color: #DCEDC8;
	padding: 3em 0em;
	text-align: center;
	margin-top: 10%;
}
.about{
	margin-top: 10%;
}
.advice{
	margin-top: 5%;
}
.join-in{
	margin-top: 10%;
}
.copy-rt{
	margin-top: 10%;
}
.follow-us{
	margin-top: 10%;
}
.about h4,.advice h4,.join-in h4,.follow-us h4,.copy-rt h4{
	font-weight: 600;
	font-size:1.5em;
	margin:0;
	padding: 10px 10px 20px;
}
.about ul li,.advice ul li,.join-in ul li,.follow-us ul li{
	margin: 0;
	padding: 0;
}
.about ul li a,.advice ul li a,.join-in ul li a,.follow-us ul li a{
	text-decoration:none;
	color:#333;
	line-height: 2em;
}
.about ul li a:hover,.advice ul li a:hover,.join-in ul li a:hover{
	color:#D9534F;
}
.about ul {
	margin: 0;
	padding: 0px 12px 0px;
	color: rgb(124, 132, 124);
	text-align: center;
}
.advice ul{
	margin: 0;
	padding: 0px 145px 0px;
	list-style-image:url(../images/mini-arrow.jpg);
	color: rgb(124, 132, 124);
	text-align: center;
}
.join-in ul{
	padding: 0px 135px 0px;
	margin: 0;
	color: rgb(124, 132, 124);
}
.follow-us ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
.follow-us ul li{
	margin:0px 2px;
	padding:0;
	display: inline;
}
.follow-us ul li a{
	background:url(../images/social.png);
	width:24px;
	height:24px;
	display: inline-block;
}
.follow-us ul li a.fb{
	background-position: 24px 0px;
}
.follow-us ul li a.fb:hover{
	background-position: 24px 24px;
}
.follow-us ul li a.twt{
	background-position:0px 0px;
}
.follow-us ul li a.twt:hover{
	background-position:0px 24px;
}
.follow-us ul li a.gpls{
	background-position: 49px 0px;
}
.follow-us ul li a.gpls:hover{
	background-position: 49px 24px;
}
.follow-us ul li a.pint{
	background-position: -26px 0px;
}
.follow-us ul li a.pint:hover{
	background-position: -26px 24px;
}
.follow-us ul li a.lnkdin{
	background-position: 74px 0px;
}
.follow-us ul li a.lnkdin:hover{
	background-position: 74px 24px;
}
.copy-rt p a{
	text-decoration:none;
	color:#DD3912;
}
.copy-rt p a:hover{
	color:#80A610;
}
.copy-rt p {
  line-height: 1.7em;
}
/*--footer--*/

/* SMALL DEVICES*/
@media screen and (min-width: 480px){
.cabecalho{
	width: 100%;
	float: left;
	padding: 3%, 4%;
	height: 300px;
	background: url(../images/inicial.jpg)center center/500px  no-repeat;
}
.logo{
	width: 150px;
	height: 150px;
	float: left;
	background: url(../images/logo.png) center center/90px no-repeat;
	font-size: 0;
	margin-left: 1%;
	margin-top: -10px;
}
.menu{
	height: 70%;
}
.container{
	height: 300px;
}
.patrocinadores img{
	margin-top: 10%;
	float: left;
	margin-left: 10%;
}
.fundoP{
	height: 300px;
	width: 100%;
	background-color: #DCEDC8;
}
.imgPetz{
	width: 150px;
	height: 80px;
	float: left;
	background: url(../images/petz.png) center center/160px no-repeat;
	font-size: 0;
	margin-left: 15% !important;
	margin-top: 10% !important;
}

.imgRepublica{
	width: 180px;
	height: 50px;
	float: left;
	background: url(../images/republica.png) center center/180px no-repeat;
	font-size: 0;
	margin-left: 1%;
	margin-top: 15% !important;	
}
.adotar img{
	width: 250px;
	height: 250px;
	margin-top: 10%;
	border-radius: 18px 18px 0 0;
	margin-left: 25%;
	background: url(../images/bg.png);
}
.adotar p{
	width: 250px;
	font-size: 14pt;
	margin-top: -4px !important;
	margin-left: 25% !important;
}
.sobre p{
	margin-top: 10%;
	font-size: 14pt;
	margin-left: 10%;
	margin-right: 7%;
}
.sobreAjuda p{
	margin-top: 10%;
	font-size: 14pt;
	margin-left: 10%;
	margin-right: 7%;
}
.about h4,.advice h4,.join-in h4,.follow-us h4,.copy-rt h4{
	font-size:1.7em;
}
.about ul li a,.advice ul li a,.join-in ul li a,.follow-us ul li a{
	font-size:1.6em;
}
}

/* TABLETS DEVICES*/
@media screen and (min-width: 640px){
.cabecalho{
	width: 100%;
	float: left;
	padding: 3%, 4%;
	height: 400px;
	background: url(../images/inicial.jpg)center center/650px  no-repeat;

}
.logo{
	width: 200px;
	height: 200px;
	float: left;
	background: url(../images/logo.png) center center/150px no-repeat;
	font-size: 0;
	margin-left: 1%;
	margin-top: -30px !important;
}
.menu{
	height: 75%;
}
.titulo{
	width: 50%;
	height: 70px;
	margin-left: 25%;
	margin-top: 10%;
}
.container{
	height: 300px;
}
.patrocinadores img{
	margin-top: 10%;
	float: left;
	margin-left: 10%;
}
.fundoP{
	height: 450px;
	width: 100%;
	background-color: #DCEDC8;
}
.imgPetz{
	width: 150px;
	height: 80px;
	float: left;
	background: url(../images/petz.png) center center/160px no-repeat;
	font-size: 0;
	margin-left: 20% !important;
	margin-top: 10% !important;
}

.imgRepublica{
	width: 180px;
	height: 50px;
	float: left;
	background: url(../images/republica.png) center center/180px no-repeat;
	font-size: 0;
	margin-left: 4%;
	margin-top: 15% !important;	
}
.adotar{
	width: 40%;
	float: left;
	margin-left: 4%;
}
.adotar img{
	width: 250px;
	height: 250px;
	margin-top: 10%;
	border-radius: 18px 18px 0 0;
	margin-left: 10%;
	background: url(../images/bg.png);
	margin-right: 3%;
}
.adotar p{
	width: 250px;
	font-size: 14pt;
	margin-top: -4px !important;
	margin-left: 10% !important;
	margin-right: 3%;
}
.sobre p{
	margin-top: 10%;
	font-size: 14pt;
	margin-left: 10%;
	margin-right: 7%;
}
.sobreAjuda p{
	margin-top: 10%;
	font-size: 14pt;
	margin-left: 10%;
	margin-right: 7%;
}
.equipeContaier{
	margin-top: 5%;
	width: 100%;
	min-height: 70% !important;
	height: 70% !important;
}
.equipeTodo{
	margin-top: 5%;
	float: left;
	margin-right: 2%;
	height: 60%;
}
.equipe{
	width: 280px;
	height: 100px;
	margin-top: 10%;
	border-radius: 0px 25px 0px 25px;
	background-color: #FFECB3;
}
.equipe2{
	width: 280px;
	height: 100px;
	margin-top: 10%;
	border-radius: 25px 0px 25px 0px;
	background-color: #FFCDD2;
}
.equipe3{
	width: 280px;
	height: 100px;
	margin-top: 10%;
	border-radius: 0px 25px 0px 25px;
	background-color: #C5CAE9;
}
.equipeImg{
	width: 100px;
	height: 100px;
	margin-top: 10%;
	border-radius: 0px 10px 0px 10px;
	margin-left: 10%;

}
.textoEquipe p{
	margin-top: -17%;
	text-align: center;
	float: right;
	font-size: 10pt;
	color: #212121;
	margin-right: 5%;
}
.textoEquipe h3{
	margin-top: -25%;
	text-align: center;
	float: right;
	font-family: 'Open Sans', sans-serif;
	color: #212121;
	font-size: 12pt;
	margin-right: 5%;
}
.iconeEquipe{
	width: 20px;
	height: 20px;
	background: url(../images/face.png) center center/20px no-repeat;
	margin-top: -10% !important;
	border-radius: 2px 2px 2px 2px;
}
.footer{
	margin-top: 110% !important;
	background-color: #DCEDC8;
	padding: 3em 0em;
	text-align: center;
	margin-top: 10%;
}
.about h4,.advice h4,.join-in h4,.follow-us h4,.copy-rt h4{
	font-size:1.7em;
}
.about ul li a,.advice ul li a,.join-in ul li a,.follow-us ul li a{
	font-size:1.6em;
}
.advice ul{
	margin: 0;
	padding: 0px 185px 0px;
	list-style-image:url(../images/mini-arrow.jpg);
	color: rgb(124, 132, 124);
	text-align: center;
}
}

/* TABLETS DEVICES*/
@media screen and (min-width: 768px){
.cabecalho{
	width: 100%;
	float: left;
	padding: 3%, 4%;
	height: 500px;
	background: url(../images/inicial.jpg)center center/800px  no-repeat;

}
.logo{
	width: 200px;
	height: 200px;
	float: left;
	background: url(../images/logo.png) center center/150px no-repeat;
	font-size: 0;
	margin-left: 1%;
	margin-top: -30px !important;
}
.menu{
	height: 75%;
}
.titulo{
	width: 50%;
	height: 70px;
	margin-left: 25%;
	margin-top: 10%;
}
.container{
	height: 500px;
}
.patrocinadores img{
	margin-top: 10%;
	float: left;
	margin-left: 10%;
}
.fundoP{
	height: 450px;
	width: 100%;
	background-color: #DCEDC8;
}
.imgPetz{
	width: 300px;
	height: 160px;
	float: left;
	background: url(../images/petz.png) center center/300px no-repeat;
	font-size: 0;
	margin-left: 10% !important;
	margin-top: 10% !important;
}

.imgRepublica{
	width: 300px;
	height: 140px;
	float: left;
	background: url(../images/republica.png) center center/300px no-repeat;
	font-size: 0;
	margin-left: 4%;
	margin-top: 15% !important;	
}
.artigo img{
	height: 200px;
	width: 400px;
	margin-top: 5%;
	margin-left: 20%;
}
.banners{
	float: left;
}
.banners img{
	height: 40%;
	width: 40%;
	margin-left: 7%;
	border-radius: 15px 15px 15px 15px;
	margin-top: 10%;
}
.adotar{
	width: 40%;
	float: left;
	margin-left: 6%;
}
.equipeTodo{
	margin-top: 5%;
	float: left;
	margin-left: 6%;
	height: 60%;
}
.advice ul{
	margin: 0;
	padding: 0px 175px 0px;
	list-style-image:url(../images/mini-arrow.jpg);
	color: rgb(124, 132, 124);
	text-align: center;
}
}
/* TABLETS DEVICES*/
@media screen and (min-width: 1024px){
.cabecalho{
	width: 100%;
	float: left;
	padding: 3%, 4%;
	height: 600px;
	background: url(../images/inicial.jpg)center center/1100px  no-repeat;

}
.logo{
	width: 300px;
	height: 300px;
	float: left;
	background: url(../images/logo.png) center center/250px no-repeat;
	font-size: 0;
	margin-left: 1%;
	margin-top: -5% !important;
}
.menu{
	height: 90%;
}
.btn-menu{
	margin-top: 6%;
}
.container{
	height: 600px;
	width: 80%;
	margin-left: 9%;
	margin-right: 9%;
	background-color: #F5F5F5;
	border-radius: 2px 2px 2px 2px;
}
.fundoP{
	height: 450px;
	width: 100%;
	background-color: #DCEDC8;
}
.patrocinadores img{
	margin-top: 10%;
	float: left;
	margin-left: 25% !important;
}
.imgPetz{
	width: 250px;
	height: 130px;
	float: left;
	background: url(../images/petz.png) center center/250px no-repeat;
	font-size: 0;
	margin-left: 22% !important;
	margin-top: 10px;
}

.imgRepublica{
	width: 280px;
	height: 140px;
	float: left;
	background: url(../images/republica.png) center center/280px no-repeat;
	font-size: 0;
	margin-left: 1%;
	margin-top: 8% !important;	
}
.titulo{
	width: 40%;
	height: 80px;
	margin-left: 30%;
	margin-top: 10%;
}
.artigo{
	width: 100% !important;
}
.conteudoArtigo{
	width: 60% !important;
	margin-top: 0% !important;
	float: left;
	margin-left: 2%;
}
.conteudoArtigo2{
	width: 80% !important;
	margin-top: 30% !important;
	margin-left: 6%;
}
.artigo img{
	height: 40%;
	width: 28%;
	margin-top: 5%;
	margin-left: 0 !important;
	float: left;
}
.banners{
	float: left;
}
.banners img{
	height: 30%;
	width: 30%;
	margin-left: 13%;
	border-radius: 15px 15px 15px 15px;
	margin-top: 10%;
}
.sobre p{
	margin-top: 10%;
	font-size: 14pt;
	margin-left: 10%;
	margin-right: 7%;
}
.sobreAjuda p{
	margin-top: 10%;
	font-size: 14pt;
	margin-left: 10%;
	margin-right: 7%;
}
.adotar{
	width: 30%;
	float: left;
	margin-left: 0;
}
.adotar img{
	width: 250px;
	height: 250px;
	margin-top: 10%;
	border-radius: 18px 18px 0 0;
	margin-left: 25% !important;
	background: url(../images/bg.png);
	margin-right: 3%;
}
.adotar p{
	width: 250px;
	font-size: 14pt;
	margin-top: -4px !important;
	margin-left: 25% !important;
	margin-right: 3%;
}
.equipeTodo{
	margin-top: 5%;
	float: left;
	margin-left: 2%;
	height: 30% !important;
}
.footer{
	margin-top: 10% !important;
	background-color: #DCEDC8;
	float: left !important;
	width: 100%;
}
.about{
	margin-top: 6%;
	width: 40%;
	text-decoration:none;
	color:#333;
	line-height: 2em;
	float: left;
	margin-left: 6%;
}
.advice{
	float: left;
	margin-top: 6%;
	width: 40%;
}
.join-in{
	float: left;
	margin-top: 6%;
	width: 40%;
}
.follow-us{
	float: left;
	margin-top: 6%;
	width: 40%;
	margin-left: 6%;
}
.about h4,.advice h4,.join-in h4,.follow-us h4,.copy-rt h4{
	font-size:1.5em;
	padding: 10px 10px 20px;
}
.about li,.advice li,.join-in li,.follow-li h4,.copy-rt li{
	font-size: 10pt;
}
}
/* DESKTOP DEVICES*/
@media screen and (min-width: 1200px){
.cabecalho{
	width: 100% !important;
	float: left;
	padding: 3%, 4%;
	height: 550px;
	background: url(../images/inicial.jpg)center center/1250px  no-repeat;
}
.logo{
	margin-top: -2% !important;
}
.btn-menu{
	display: none;
}
.menu{
	width: 100% !important;
	height: 56px !important;
	line-height: 56px;
	background-color: rgba(220,237,200,0.5);
	display: block !important;
	position: absolute;
}
.menu li{
	padding: 0;
	float: left;
}
.menu li a{
	padding: 15px !important;
	font-size: 1.7em !important;
	color: #555555;
	font-family: 'Dosis', sans-serif;
	font-weight: 600 !important;
	margin-left: 3% !important;
	margin-right: 2% !important;
}
.menu li a:hover{
	border: none;
	color: #c5c5c5;
}
.menu li a:focus{
	background-color: transparent;
}
.btn-close{
	background-color: transparent;
}
.container{
	height: 550px;
	width: 80%;
	margin-left: 9%;
	margin-right: 9%;
	background-color: #F5F5F5;
	border-radius: 2px 2px 2px 2px;
}
.fundoP{
	height: 550px;
	width: 100%;
	background-color: #DCEDC8;
}
.patrocinadores img{
	margin-top: 10%;
	float: left;
	margin-left: 25% !important;
}
.imgPetz{
	width: 250px;
	height: 130px;
	float: left;
	background: url(../images/petz.png) center center/250px no-repeat;
	font-size: 0;
	margin-left: 27% !important;
	margin-top: 10px;
}

.imgRepublica{
	width: 280px;
	height: 140px;
	float: left;
	background: url(../images/republica.png) center center/280px no-repeat;
	font-size: 0;
	margin-left: 1%;
	margin-top: 8% !important;	
}
.titulo{
	width: 30%;
	height: 80px;
	margin-left: 35%;
	margin-top: 5%;
	margin-right: 35% !important;
}
.banners{
	float: left;
}
.banners img{
	height: 25%;
	width: 25%;
	margin-left: 17%;
	border-radius: 15px 15px 15px 15px;
	margin-top: 5%;
}
.adotar{
	width: 23%;
	float: left;
	margin-left: 2%;
}
.adotar img{
	width: 250px;
	height: 250px;
	margin-top: 10%;
	border-radius: 18px 18px 0 0;
	margin-left: 2% !important;
	background: url(../images/bg.png);

}
.adotar p{
	width: 250px;
	font-size: 12pt !important;
	margin-top: -4px !important;
	margin-left: 2% !important;
	margin-right: 0%;
}
.logo-face{
	width: 40px;
	height: 40px;
	background: url(../images/face.png) center center/40px no-repeat;
	font-size: 0;
	margin-left: 50%;
	margin-top: 0;
}
.sobreAjuda p{
	margin-top: 3%;
}
.equipeTodo{
	margin-top: 5%;
	float: left;
	margin-left: 4%;
	height: 40% !important;
	width: 25%;
}
.footer{
	margin-top: 10%;
	background-color: #DCEDC8;
	float: left;
	width: 100%;
}
.about{
	margin-top: 0;
	width: 20%;
	text-decoration:none;
	color:#333;
	line-height: 2em;
	float: left;
	margin-left: 2%;
}
.advice{
	float: left;
	margin-top: 0;
	width: 20%;
	margin-left: 4%;
}
.join-in{
	margin-top: 0;
	float: left;
	width: 20%;
	margin-left: 2%;
}
.follow-us{
	float: left;
	margin-top: 0;
	width: 20%;
	margin-left: 6%;
}
.about h4,.advice h4,.join-in h4,.follow-us h4,.copy-rt h4{
	font-size:1.5em;
	padding: 10px 10px 20px;
}
.about li,.advice li,.join-in li,.follow-li h4,.copy-rt li{
	font-size: 11pt;
}
.about ul li a,.advice ul li a,.join-in ul li a,.follow-us ul li a{
	text-decoration:none;
	color:#333;
	line-height: 2em;
	font-size: 11pt;
}
.advice ul{
	margin: 0;
	padding: 0px 90px 0px;
	list-style-image:url(../images/mini-arrow.jpg);
	color: rgb(124, 132, 124);

}
.join-in ul{
	padding: 0px 60px 0px;
	margin: 0;
	color: rgb(124, 132, 124);
}
}
/* DESKTOP DEVICES*/
@media screen and (min-width: 1366px){
.cabecalho{
	width: 100% !important;
	margin-right: -10px;
	padding: 3%, 4%;
	height: 750px;
	background: url(../images/inicial.jpg)center center/1450px  no-repeat;
}
.logo{
	margin-top: -2% !important;
}
.container{
	height: 750px;
	width: 80%;
	margin-left: 9%;
	margin-right: 9%;
	background-color: #F5F5F5;
	border-radius: 2px 2px 2px 2px;
}
.fundoP{
	height: 550px;
	width: 100%;
	background-color: #DCEDC8;
}
}